@keyframes headerTranslate {
    from {
        transform: translate3d(0, -100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes marquee {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes marquee2 {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-200%, 0, 0);
    }
}

@keyframes spanElevation {
    0% {
        transform: translate3d(0, 0, 0);
    }

    20% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes rotate1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(270deg);
    }
}

@keyframes noise {
    0% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
    100% {
        background-position: 0 0;
    }
}