@font-face {
    font-family: 'Meadow';
    src: url('../../ressources/fonts/GlyphWorldMeadow.woff') format('woff'),
        url('../../ressources/fonts/GlyphWorldMeadow.ttf') format('woff');
}

@font-face {
    font-family: 'Airland';
    src: url('../../ressources/fonts/GlyphWorld-AirLand.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');