html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
ul, li,
nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

article, aside, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	border: none;
	background: inherit;
	outline: none;
	font-family: inherit;
}

// @for $i from 1 through 10 {
//     .hide-container:nth-child(#{$i}) .fadeup {
//         transition-delay: .1s * $i;
//     }
// }


// .text-defilant {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	white-space: nowrap;
// 	font-size: 3em;
// 	overflow: hidden;

// 	.text-def:first-child {
// 		animation: marquee 20s linear infinite;
// 	}

// 	.text-def:last-child {
// 		animation: marquee2 20s linear infinite;
// 		animation-delay: 10s;
// 	}
// }