@import 'variables';
@import 'fonts';
@import 'animations';
@import 'global';




#hero-study {
	position: relative;
	width: 100%;
	min-height: 80vh;

	display: flex;
	align-items: center;
	justify-content: center;

	.hero-study__title {
		display: flex;
		flex-direction: column;
	    align-items: flex-end;

		h1 {
			font-size: 10vw;
			word-break: keep-all;
			font-weight: 600;
		}

		h2 {
			position: relative;
			margin-right: 10px;
			font-weight: 400;
			font-size: 1.2em;

			&:before {
				content: "";
				position: absolute;
				left: -12px;
				top: 50%;
				transform: translateY(-50%);
				background: white;
				border-radius: 50%;
				width: 5px;
				height: 5px;
			}
		}
	}
}



#study-section {
	position: relative;
	width: 100%;
	min-height: 150vh;
	padding-top: 30vh;
	padding-bottom: 3vh;
	display: flex;
	align-items: center;
	flex-direction: column;

	.study-section__background {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: calc(100% - 100vh);

		.arche {
			border-radius: 10000px 10000px 0 0;
			width: 100%;
			height: 100vh;
			background: rgb(29,152,111);
			background: linear-gradient(180deg, rgba(29,152,111,1) 0%, rgba(27,135,100,1) 100%);
		}

		.solid {
			width: 100%;
			height: 100%;
			background: rgb(27,135,100);
			background: linear-gradient(180deg, rgba(27,135,100,1) 0%, rgba(21,103,77,1) 100%);
		}
	}

	.study-section__view-case {
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.button-container {
			position: relative;
			z-index: 2;
			background: white;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			transition: background .4s $mainbezier;

			&:hover {
				background: #111;

				+ .ovale-container .ovale {
					width: 50%;
					height: 100%;
				}

				img {
					opacity: 1;
					transform: translateY(0px) rotate(45deg);
				}

				span {
					color: #fff;
					transform: translateY(0);
				}
			}

			span {
				color: #111;
				font-weight: 400;
				transform: translateY(-10px);
				transition: transform .4s $transform-bezier,
							color .2s $mainbezier;
			}

			img {
				opacity: 0;
				width: 20px;
				height: 20px;
				transform: translateY(-10px) rotate(45deg);
				transition: transform .4s $transform-bezier,
							opacity .4s $transform-bezier;
			}
		}

		.ovale-container {
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 1;
			width: 250px;
			height: 250px;
			border-radius: 50%;
			transform: translate(-50%, -50%);

			.ovale {
				position: absolute;
				z-index: 0;
				left: 50%;
				top: 50%;
				width: 100%;
				height: 50%;
				border-radius: 50%;
				border: 4px solid #fff;
				z-index: 2;
				transform: translate(-50%, -50%);
				transition: all .3s $mainbezier;
	
				&.first {
					animation: 5s linear 0s rotate1 infinite;
				}
	
				&.second {
					animation: 5s linear 0s rotate2 infinite;

				}
			}
		}
	}

	.study-section__article {
		position: relative;
		z-index: 1;
		width: 100%;
		padding: 0 160px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 1200px){
			& {
				padding: 0 60px;
			}
		}

		@media screen and (max-width: 600px){
			& {
				padding: 0;
			}
		}

		.img-container {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 60vh;
			transition-property: opacity;
			transition-duration: .9s;
			transition-timing-function: $mainbezier;

			@media screen and (max-width: 600px){
				& {
					height: 40vh;
				}
			}

			&.--noise:after {
				content: "";
				z-index: 10;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: .3;
				background: url('../../ressources/images/noise.webp');
				-webkit-animation: 110ms infinite noise;
				animation: 90ms infinite noise;
				pointer-events: none;
			}

			&.--reveal {
				opacity: 0;
			}

			&.--full {
				max-width: calc(100% - 10vw);
			}

			&.--arche {
				border-radius: 100% 100% 10px 10px;
			}

			&.--short {
				height: 40vh;
			}

			&.--min {
				height: 10vh;
			}

			&.in-view {
				opacity: 1;
			}

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
				height: 100%;
				object-fit: cover;
    			object-position: center;
				transform: translate(-50%, -50%);
				transform-origin: center center;
			}
		}

		.study-section__article__explications {
			width: 100%;
			padding: 0 5vw;

			@media screen and (min-width: 600px){
				& {
					margin-bottom: 30px;
				}
			}

			.underline-explanation.in-view {
				.underline {
					width: 100%;
				}

				.hide-container {
					@for $i from 1 through 10 {
						.h-div:nth-child(#{$i}) .s-div {
							transition-delay: 0.05s * $i;
						}
					}
	
					.s-div {
						transform: translate3d(0, 0, 0);
					}
				}

				.img-container {
					opacity: 1;
					transition-delay: 400ms;
				}
			}

			.img-container {
				background: #111;
			}

			.simple-p {
				font-size: 1.3em;
				line-height: 1.45;
			}

			@media screen and (max-width: 600px) {
				.simple-p {
					font-size: 1.15em;
				}
			}
		}

		.footer-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 5rem;

			.btn {
				background: rgb(11, 92, 81);
				margin-top: 0;
			}

			.back-to-home {
				position: relative;
				width: 70px;
				height: 70px;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: opacity .6s $mainbezier;
	
				&.in-view {
					opacity: 1;
	
					svg {
						stroke-dashoffset: 0;
					}
				}
				 
				&:hover {
					svg {
						transform: translate(-50%, -50%) scale(0.8) rotate(180deg);
					}
					.arrow {
						transform: translate3d(-100%, 0, 0) rotate(-180deg);
					}
				}
	
				.arrow {
					width: 50%;
					transform: rotate(-180deg);
					display: block;
					position: relative;
					z-index: 2;
					transition: transform .3s $scale-bezier;
				}
	
				svg {
					position: absolute;
					z-index: 1;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(180deg);
					width: 100%;
					height: 100%;
					stroke: #fff;
					stroke-width: 4px;
					fill: transparent;
					stroke-dasharray: 400;
					stroke-dashoffset: 400;
					transform-origin: center center;
					transition: 1.4s stroke-dashoffset $mainbezier,
								0.3s transform $scale-bezier;
				}
			}
		}
	}
}



@media screen and (max-width: 600px) {
	.hide-container {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.no-hide {
		display: none;
	}
}